<div class="message mb-2 cont-<%= message.user.id %>">
  <div class="content-container">
    <div class="content msg-blue-<%= message.user.id %>">
      <%= message.content %>
    </div>
    <div class="author">
      <% unless message.room.is_private %>
        <%= message.user.username %>
      <% end %>
    </div>
  </div>
</div>