<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">

<% chain_data.each do |key, value| %>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title"><%= key.capitalize.gsub('_', ' ') %></h5>


        <% else %>
          <p class="card-text" id="<%= key.to_s.downcase %>"><%= value %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>