<h1>Editing chain datum</h1>

<%= render "form", chain_datum: @chain_datum %>

<br>

<div>
  <%= link_to "Show this chain datum", @chain_datum %> |
  <%= link_to "Back to chain data", chain_data_path %>
</div>
