<h1>Bitcoin RPC Explorer</h1>
<hr>
<%= turbo_stream_from 'bitcoin_data' %>
    <div id="bitcoin_data" class="flash-bg">
      <%= render 'bitcoin_data', blockchain_info: @blockchain_info %>
  </div>

