<!-- app/views/block_histories/_chart.html.erb -->

<div id="difficulty-numtxs-chart" style="width:100%; height:400px;"></div>
<script>
    document.addEventListener('turbo:frame-load', function (event) {
        if (event.target.id === 'block_chart') {
            var chartData = <%= @chart_data.to_json.html_safe %>;
            if (chartData && chartData.length > 0) {
                var difficultyData = chartData.map(function(item) { return [item[0], item[1]]; });
                var numtxsData = chartData.map(function(item) { return [item[0], item[2]]; });
                var sizeData = chartData.map(function(item) { return [item[0], item[3]]; });


                Highcharts.chart('difficulty-numtxs-chart', {
                    chart: {
                        zoomType: 'x'
                    },
                    title: {
                        text: 'Difficulty vs Number of Txs vs Size'
                    },
                    xAxis: {
                        type: 'block_number',
                        title: {
                            text: 'Block Number'
                        }
                    },
                    yAxis: [{
                        title: {
                            text: 'Difficulty'
                        }
                    }, {
                        title: {
                            text: 'Number of Txs'
                        },
                        opposite: true
                    }, {
                        title: {
                            text: 'Block Size'
                        }
                    }],
                    plotOptions: {
                        series: {
                            turboThreshold: 0, // No limit on the number of data points
                            marker: {
                                enabled: false
                            }
                        }
                    },
                    tooltip: {
                        shared: true,
                        formatter: function () {
                            var tooltipText = '<b>Block Number: ' + this.x + '</b><br/>';
                            this.points.forEach(function(point) {
                                tooltipText += point.series.name + ': ' + point.y + '<br/>';
                            });
                            return tooltipText;
                        }
                    },
                    series: [{
                        name: 'Difficulty',
                        data: difficultyData,
                        zIndex: 1 // Ensure Difficulty is on top
                    }, {
                        name: 'Number Txs',
                        data: numtxsData,
                        yAxis: 1,
                        zIndex: 0 // Lower zIndex for Number Txs
                    }, {
                        name: 'Blocksize',
                        data: sizeData,
                        zIndex: 2 // Ensure Difficulty is on top
                    }]
                });
            } else {
                console.error('No data available for chart.');
            }
        }
    });
</script>
