<div id="d3-chart-container" style="width:100%; height:1000px;"></div>




<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Replace with your actual chartData
        var chartData = <%= @chart_data %>;

        var margin = { top: 20, right: 160, bottom: 30, left: 50 },
          width = 960 - margin.left - margin.right,
          height = 500 - margin.top - margin.bottom;

        var svg = d3.select("#d3-chart-container")
          .append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
          .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        // X scale and axis
        var x = d3.scaleLinear()
          .domain(d3.extent(chartData, function(d) { return d[0]; }))
          .range([0, width]);
        svg.append("g")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x));

        // Y scales and axes for the three datasets
        var y1 = d3.scaleLinear()
          .domain([0, d3.max(chartData, function(d) { return d[1]; })])
          .range([height, 0]);
        svg.append("g")
          .call(d3.axisLeft(y1));

        var y2 = d3.scaleLinear()
          .domain([0, d3.max(chartData, function(d) { return d[2]; })])
          .range([height, 0]);
        svg.append("g")
          .attr("transform", "translate( " + width + ", 0 )")
          .call(d3.axisRight(y2));

        var y3 = d3.scaleLinear()
          .domain([0, d3.max(chartData, function(d) { return d[3]; })])
          .range([height, 0]);
        svg.append("g")
          .attr("transform", "translate( " + (width + margin.right / 2) + ", 0 )")
          .call(d3.axisRight(y3));

        // Line generators for each dataset
        var line1 = d3.line()
          .x(function(d) { return x(d[0]); })
          .y(function(d) { return y1(d[1]); });

        var line2 = d3.line()
          .x(function(d) { return x(d[0]); })
          .y(function(d) { return y2(d[2]); });

        var line3 = d3.line()
          .x(function(d) { return x(d[0]); })
          .y(function(d) { return y3(d[3]); });

        // Drawing lines for each dataset
        svg.append("path")
          .datum(chartData)
          .attr("class", "line")
          .style("stroke", "blue")
          .attr("d", line1);

        svg.append("path")
          .datum(chartData)
          .attr("class", "line")
          .style("stroke", "green")
          .attr("d", line2);

        svg.append("path")
          .datum(chartData)
          .attr("class", "line")
          .style("stroke", "red")
          .attr("d", line3);
    });

</script>


