<%= form_with(model: Room.new,local: false, class: "d-flex" ) do |f| %>
  <div class="row">
    <div class="mb-3">
      <%= f.text_field :name, class: "form-control", autocomplete: 'off', placeholder: 'Room Name...' %>

    </div>

    <div class="mb-3">
      <%= f.select :is_private, [['Open', false],['Private', true]], {:prompt => "Is Private?"}, {class: 'form-control'} %>

    </div>
    <div class="mb-3">
      <%= f.submit data: { disable_with: false }, class: 'btn btn-primary', 'data-bs-dismiss' =>  'modal' %>

    </div>
  </div>


<% end %>